extends layout 

block layout-content 
        div.container 
            h2 Sorry could not find any recipe for this ingredient. Please try with different search term
        div.anchor-container    
            a(href="/") Back