extends layout 

block layout-content 
    div.row
        h2.col-12.center Are you tired of finding new recipes ? Type in the ingredient below and find your favorite recipe
        div.col-12
            form(method="post" action="/ingredient" class="form-container")
                div.form-input 
                    label(for="ingredient") Type in the ingredient: 
                    input(type="text" id="ingredient" name="ingredient")
                div.form-input 
                    button(type="submit") Submit


