@import url("https://fonts.googleapis.com/css?family=Comfortaa");

body {
  height: 100vh;
  padding: 0;
  background-color: #AFA8BA!important;
  box-sizing: border-box;
  margin: 0 !important;
}

.container-fluid {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.text{
  font-family: 'Monoton', cursive;
  font-size: 3em;
  color: #fff;
  -webkit-animation: h1 8s infinite; 
  animation: h1 8s infinite;
}

@-webkit-keyframes h1 {
  0%   {text-shadow: 0 0 3px #000; color: #DCEEF5;}
  25%  {text-shadow: 0 0 12px #000;}
  50%  {text-shadow: 0 0 20px #000; color: #4A4453;}
  75%  {text-shadow: 0 0 12px #000;}
  100% {text-shadow: 0 0 3px #000; color: #DCEEF5;}
}

@keyframes h1 {
  0%   {text-shadow: 0 0 3px #000; color: #DCEEF5;}
  25%  {text-shadow: 0 0 12px #000;}
  50%  {text-shadow: 0 0 20px #000; color: #4A4453;}
  75%  {text-shadow: 0 0 12px #000;}
  100% {text-shadow: 0 0 3px #000; color: #DCEEF5;}
}

.row {
  margin: 0 !important;
}

.center {
  text-align: center;
}

h1 {
  padding: 10px;
}

h2 {
  padding: 15px;
}

main {
  margin-top: 30px;
}

.form-container {
  border: 1px solid black;
  border-radius: 5px;
  padding: 20px;
  width: 80%;
  margin: 10px auto;
  text-align: center;
}

label {
  padding: 5px;
}

input {
  padding: 5px;
}

.form-input {
  margin: 5px;
}

button {
  padding: 10px 20px;
  border: transparent;
  border-radius: 5px;
  background-color: black;
  color: white;
  margin: 10px!important;
}

.button-container {
  display: flex;
  justify-content: center;
}

.recipe-container {
  display: flex;
  flex-flow: row wrap;
  row-gap: 10px;
  column-gap: 10px;
  margin: 10px;
}

.recipe-card {
  border: 1px solid black;
  border-radius: 5px;
  padding: 20px;
  width: 100%;
}

h3 {
  text-align: center;
}

.recipe-name {
  font-weight: bold;
}

.recipe-content {
  margin: 10px;
  padding: 5px;
}

.calory-card {
  border: 1px solid black;
  padding: 20px;
  width: 50%;
  margin: 0 auto;
  text-align: center;
  border-radius: 5px;
}

.anchor-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  padding: 20px;
}

a {
  text-decoration: none;
  background-color: black !important;
  color: white !important;
  padding: 10px 40px;
  text-align: center;
}
